################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/materials_short_b_import.txt
/Описание предметной области.pdf
/Лопушок.png
/Лопушок.ico
/Лист Microsoft Excel.xlsx
/testing-template.docx
/product_list_layout.jpg
/products_b_import.zip
/products_b_import.csv
/productmaterial_b_import.xlsx
/picture.png
/ms.sql
